# env
.env
*.env
*.env.local

# Dependencies
node_modules/
**/node_modules/

# iOS
**/ios/Pods/
**/ios/build/
**/ios/*.xcworkspace/xcuserdata/
**/ios/*.xcodeproj/xcuserdata/
**/ios/*.xcodeproj/project.xcworkspace/xcshareddata/
**/.xcode.env.local

# Pods/build
**/ios/Pods/
**/ios/build/
**/android/.gradle/
**/android/app/build/
**/android/build/

# Android
**/android/.gradle/
**/android/app/build/
**/android/build/
**/debug.keystore
**/.!*.keystore

# Environment
.env
**/.env

# Build output
dist/
build/

# Misc
*.log
.DS_Store
yap/
.claude/
